<h1> <%= post.title %> by <%= post.author.name %> </h1>



<p> Description: <%= post.content %> </p>

<a href = "/"> &larr; Back Home </a>

<hr />

<h4> Leave A Comment</h4>



<form action = "/posts/<%=post.id%>" method="POST">
<input 
    hidden 
    type = "number"
    name = "postId"
    value = "<%= post.id %>"
></input>

<input type = "text" name ="name" placeholder ="name">
<textarea 
    name ="content"
    cols = "30"
    rows ="10"
    placeholder = "comment"></textarea>

<input type =  "submit" value = "comment"> 

</form>

<hr />


<div>
<% post.comments.forEach(function(comment){ %>

    <li><%= comment.name %> - "<%= comment.content %>"  </li>  

<% }) %>
</div>


</form>


